#id_title {
    background-color: rgba(255, 255, 255, 0.712);
}

ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    }

li {
    list-style: none;

}
#btn_show {
    display: none;
}
#id_slogan {
    padding: 2%;
    margin-top: 15%;
    margin-left: 15%;
    max-width: max-content;
    font-size: 140%;
    border-radius: 20px;
}

#id_list {
    margin-top: 15vh;
}

#info_div {
    display: flex;
    background-color: rgba(128, 128, 128, 0.277);
    background-size: cover;
    background-position-x: right;
}


@media only screen and (max-width: 768px){

    li{
        float: inline-start;
    }

    #info_div {
        transition: 2s;
        display: none;
        max-height: 75vh;
        overflow-y: scroll;
        overflow-x: hidden;
        background-position-x: left;
        background-size: 180%;
    }

    #id_title {
        min-width: min-content;
    }
    #id_slogan {
        min-width: 95%;
        margin-top: 50%;
        font-size: 110%;
        margin-left: 0%;

    }

    #btn_show {
        display: initial;
    }
    #id_list {
    }
}

@media only screen and (max-height: 740px){

    #id_slogan {
        margin-top: 20%;
    }
}


